#carrusel{
    width: 90%;
    height: 60%;
    background-color: lightblue;
    position: relative;
    left: 10px;
}
body{
    display: flex;
}

#display{
    display: flex;
}
.tama{
    width: 30%;
    height: 90%;
}
h1{
    font-size: 2.5em; /* Tamaño de fuente más grande */
    padding-left: 10%;
    font-family: 'Times New Roman', Times, serif;
}
main{
    height: 25%;
    width: 50%;
    background-color: yellow;
}

section{
    height: 100%;
    width: 50%;
    padding-left: 10%;
    background-color: black;
}

img:hover{
    width: 50%;
    height: 50%;
}