main{
    display:flex;
    background-color:bisque;
    width: 100%;
    height: 100%;
}
article{
    padding-left: 20px;
    padding-top: 10px;
    width: 100%;
    height: 40%;
    border:1px solid black;
    border-style: dashed;
}
section{
    height: 100%;
    width: 50%;
    border:1px solid black;
    border-style: dashed;
}
img.div1:hover{
    transform: scale(1.1,1.1);
}
.div2{
    width: 50%;
}
.div2:hover{
    padding-bottom: 2px;
    box-shadow: 3px 3px 5px black;

}
.div4:hover{
    background-color: beige;
}

img.div5{
    filter: grayscale();
}

img.div5:hover{
    filter:contrast();
}

.div4{
align-items: center;
width: 50%;
}

input[name="Boton"] {
    border: none;
    padding: 12px 24px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(to right, red, white, aqua, blue);
    background-size: 300% 100%;
    transition: background-position 0.5s ease-in-out;
}
input[name="Boton"]:hover {
    background-position: 100% 0;
}

.div6{
    perspective: 1000px;
}
.div7{
    transition: transform 0.8s;
    width: 50%;
}
.div7:hover{
    transform: rotateY(180deg);
}