body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fdf5e6;
    color: #5d4037;
}
#nav-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center; /* Centra el contenido del nav */
    align-items: center;
    position: relative; /* Para posicionar el logo */
    border-bottom: 3px solid #3e2723; /* Borde inferior colonial */
}
.logo {
    position: absolute;
    left: 20px; /* Espacio a la izquierda */
    font-size: 24px;
    color: #fdf5e6;
    font-weight: bold;
}
main {
    display: flex;
    width: 100%;
    height: 90%;
}
#slider-container {
     padding: 20px;
    width: 50%;
    padding: 20px;
    position: relative; /* Para los botones de thumbelina */
}
#slider {
    margin-top: 90px;
    position:relative;
    width:100%;
    height:120px;
    border:1px solid #aaa;
    background-color:#eee;
}
section {
    width: 50%;
    padding: 20px;
    text-align: justify;
}
h1 {
    color: #3e2723;
}