.cont1{
    width: 50%;
    height: 50%;
    background-color: antiquewhite;
}
.cont2{
    width: 50%;
    height: 50%;
    background-color: lightgray;
}
p.descripcion{
    font-size: medium;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}