#nav{
    background-color: #CD5C5C;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
aside{
    position: relative; /* necesario para posicionar children absolute */
    width: 40%;
    height: 100%;
    padding-left: 5px;
    padding-top: 10px;
    border: 1px;
    border-style: outset;
}
#main{
    display: flex;
}
.dropdown-container {
    position: relative;
    display: inline-block;
}
.dropdown {
    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px ;
    border-style: double;
    background-color:CD5C5C ;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Posiciona el menú debajo del botón */
  left: 0;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown-container:hover .dropdown-content {
  display: block;
}
h1{
    padding-left: 15%;
}
p{
    padding-left: 10%;
}